

<h1>Adopt A Ferret</h1>
<p> These are our ferrets for adoption!</p>
<ul>
<% @ffa.each do |ffa| %>
<li><a href="/ferrets/<%= ffa.id %>"><%= ffa.name %></li>
<% end %>
</ul>

<form action="/ferrets/:id/adopt" method="post">
  <label>Owner Name:</label>
  <br>
  <input type="text" name="user[name]">
 
  <br>
  <p>Select an existing pet or create a new one below.</p>
 
 
  <h3>Ferrets for Adoption</h3>
  <% @ffa.each do |ffa| %>
    <input type="checkbox" name="user[tags_ids][]" id="<%= @ffa.id %>" value="<%= @ffa.id %>"><%= @ffa.name %></input><br>
  <% end %>
  <br>
 
  <input type="submit" value="Adopt Ferret">
</form>


<%#  Something  i want to implement is being able to adopt a 
ferret that has no owner, i'll create them in 
tux or have a seed file, but how can I get around 
the displaying of a ferret without  user????%>
<%# Also After a ferret is registered it can be dropped off and 
and it will appear on the index file,
A user should be able to pick up or drop off a ferret,
which will then indicate if they appear on the index page
and lastly a User should be able to adopt a ferret with no owner%>
  <%# #FFA = ferret for adoption
  #I believe I need another model and controller to implement this
  #get "/ferrets/:id/adopt" do
  #  @ffa = Ferret.where(user_id: nil)
  #  erb :"ferrets/adopt.html"
  #end

 # post "/ferrets/:id/adopt" do
  #
   # @ffa = Ferret.find(params[:id])
   # @ffa.update(ferret_params)
   # redirect "/ferrets/#{@ffa.id}"
  #end
  #
  #wed also need an adoption get post edit and update 
  #so that the ferret could be asigned a new ferret %>
