<h1><%=@ferret.name%></h1>
<p>Short Description: <%=@ferret.short_description %></p>
<p>Hair Type: <%=@ferret.hair %></p>
<p><%= @ferret.user.email %></p>
<%#maybe an IF statement in here would allow 
me to display the user only if there us a user%>

<a href="/ferrets/<%= @ferret.id %>/edit"><input type="button" value="Edit" /></a>
<form method="post" action="/ferrets/<%= @ferret.id %>">
<input type="hidden" value="delete" name="_method"><input type="submit" value="Delete" /></form>